phtom-rest/web/WEB-INF/wsdl/localhost_8080/phtome/ItemWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://messagehub/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://messagehub/">

<xs:element name="get" type="tns:get" />

<xs:element name="getResponse" type="tns:getResponse" />

<xs:element name="item" type="tns:item" />

<xs:complexType name="get">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="item">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0" />
<xs:element name="title" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>